bleak
kivy
setuptools
pytest
buildozer
cython==3.0.12
pyjnius
typing-extensions
pyinstaller
beacontools
dbus-fast
pytest-asyncio
pyserial
pyserial-asyncio
psutil
simpleeval
scapy
pyte
asyncssh
telnetlib3
numpy
pyaudio
